.projects{

    &__wrapper {
        background-color: cadetblue;
        position: relative;
        margin-bottom: 2.625rem;

    }



    &__image-wrapper {
        background-image: url("assets/photos/Cover.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 100%;
        height: 30rem;


    }

    &__cart {
        position: absolute;
        top: 7rem;
        left: 2rem;
        z-index: 1;
        background-color: $white;
        padding: 3.5rem;
        font-weight: 400;
    }

    &__primary {
        width: 100%;
        a{
        color: $black;
        text-transform: none;
        text-decoration: none;
        font-family: "Karla";
        }

    }

    &__heading {
        margin-bottom: 0.75rem;

    }

    &__subheading {
        margin-bottom: 1.5rem;
    }

    &__description {
        width: 20rem;
    }
}

.projects--modified{

    &__wrapper {
        background-color: cadetblue;
        position: relative;
        margin-bottom: 2.625rem;

    }



    &__image-wrapper {
        background-image: url("assets/Cover.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 100%;
        height: 30rem;


    }

    &__cart {
        position: absolute;
        top: 7rem;
        left: 2rem;
        z-index: 1;
        background-color: $white;
        padding: 3.5rem;
    }

    &__primary {
        width: 100%;
    }

    &__heading {
        margin-bottom: 0.75rem;

    }

    &__subheading {
        margin-bottom: 1.5rem;
    }

    &__description {
        width: 20rem;
    }
}


