.footer {

    padding-bottom: 2rem;

    background-color: $graishBlack;

    &__social {
        padding-bottom: 4rem;
        text-decoration: none;
        color: $whiteTransparent;

        &:hover {
            color: $primaryGreen;
        }
    }

    &__grid {

        display: grid;
        grid-template-columns: repeat(5, 1fr);



    }

    &__credentials {
        display: flex;
        justify-content: space-between;

    }

    &__rights {
        color: $whiteTransparent;
    }

    &__description {
        color: $whiteTransparent;
    }
}