$primaryGreen: #51EAB3;
$primaryBlue: #538BF6;

//neutrals
$black: #000000;
$graishBlack:rgba(0, 0, 0, 0.8);
$lightGraishBlack:rgba(0, 0, 0, 0.7);
$gray: #C4C4C4;
$white: #FFFFFF;
$whiteTransparent:rgba(255, 255, 255, 0.7);

